<h1> Create a Doge for the Index Page </h1>


<%= form_for @dog %>
<%= f.label :name%>
<%= f.text_field :name%>
<%= f.label :age %>
<%= f.text_field :age%>
<%= f.label :breed %>
<%= f.text_field :breed %>

<%= f.submit%>
